<h1>Edit Director</h1>

<form action="/update_director/<%= @director.id %>">
  <div>
    <label>Name:</label>
    <input type="text" name="new_name" value="<%= @director.name %>">
  </div>
  <div>
    <label>Bio:</label>
    <input type="text" name="new_bio" value="<%= @director.bio %>">
  </div>
  <div>
    <label>Date of Birth:</label>
    <input type="text" name="new_dob" value="<%= @director.dob %>">
  </div>
  <div>
    <label>Image URL:</label>
    <input type="text" name="new_url" value="<%= @director.image_url %>">
  </div>
  <div>
    <button>Update Director</button>
  </div>

</form>
